@page
@model ClothShop.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="mt-5">

</div>
+

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Comfirmation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comfirmation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
